# config.yml

## SERVICES ##
# Supported values: hipchat, campfire
service: hipchat

## HIPCHAT SETTINGS ##
hipchat:
  jid: DDDD_XXXXX@chat.hipchat.com
  name: Full Name
  password: <password>
  rooms:
    - DDDD_room_name@conf.hipchat.com
    # - DDDD_second_room_name@conf.hipchat.com

## CAMPFIRE SETTINGS ##
campfire:
  subdomain: subdomain  # from subdomain.campfirenow.com
  # auth_mode: Can use API key or username/password.
  # Supported values: api, username
  auth_mode: api
  api_key: api_key_goes_here  # enter if using "api" auth_mode
  username: username          # enter if using "username" auth_mode
  password: password          # also enter if using "username" auth_mode
  room: room_name             # only supports one room for campfire
  ssl: true

## BOT SETTINGS ##
bot:
  hello: Mainframe: ONLINE
  goodbye: NO CARRIER

## PLUGIN SETTINGS ##
enabled_plugins:
  - HipRepeater
  - RandomResponses

  - Archer
  - Bash
  - Futurama
  - LikeABoss
  - Olaf
  - PennyArcade
  - QuickMeme
  - WalMart
  - XKCD
  # - EpicFail
  # - FML
  # - TWSS
